In [60]:
import pandas as pd

In [61]:
# Load the datasets
tourism_df = pd.read_csv('API_ST.INT.ARVL_DS2_en_csv_v2_22950.csv', skiprows=4)
air_transport_df = pd.read_csv('API_IS.AIR.PSGR_DS2_en_csv_v2_122328.csv', skiprows=4)

In [90]:
# Filter data for East Africa
air_transport_df_east_africa = air_transport_df[air_transport_df['Country Name'] == 'Africa Eastern and Southern']
tourism_df_east_africa = tourism_df[tourism_df['Country Name'] == 'Africa Eastern and Southern']

# Reshape the data using melt, dropping NA values
air_transport_df_east_africa = air_transport_df_east_africa.melt(id_vars='Country Code', var_name='Years', value_name='Air_transport').dropna().reset_index()
tourism_df_east_africa = tourism_df_east_africa.melt(id_vars='Country Code', var_name='Years', value_name='Tourism').dropna().reset_index()

# Remove unwanted rows and set index
air_transport_df_east_africa = air_transport_df_east_africa.drop(['index', 'Country Code'], axis=1)[3:]
tourism_df_east_africa = tourism_df_east_africa.drop(['index', 'Country Code'], axis=1)[3:]

air_transport_df_east_africa = air_transport_df_east_africa.set_index('Years')
tourism_df_east_africa = tourism_df_east_africa.set_index('Years')

In [64]:
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.metrics import mean_squared_error, r2_score

print("üîó Merging tourism and air transport datasets on 'Years'...")
combined_df_east_africa = tourism_df_east_africa.merge(air_transport_df_east_africa, how="inner", on="Years")
combined_df_east_africa

üîó Merging tourism and air transport datasets on 'Years'...

               Tourism    Air_transport
Years
1995    11583544.70583       12153400.0
1996   13088654.204098       13178400.0
1997   13456245.973344       13456500.0
1998   14403851.832546       13234700.0
1999   15309377.842034       14038500.0
2000   15353177.301305       14963609.0
2001   15854696.286003       14546112.0
2002   17383375.415747       14462573.0
2003   17844385.282024       15802323.0
2004   18745951.162755       17562611.0
2005   19917566.372901       20661751.0
2006   22650320.879912       22039609.0
2007   25114898.436754       23295972.0
2008   25413098.267451       23988552.0
2009   25964418.069538       23800085.0
2010   29071500.511441  30374164.935204
2011   31650243.884143  33507824.272436
2012   32748552.390675  35838679.014802
2013   34426632.679693     35112457.818
2014   35738392.214014  36350758.945447
2015    35318681.46455       39154692.0
2016   37645887.774466       41553429.0
2017   38258347.875597      45423814.08
2018    41189145.26871  52613964.077706
2019   39826701.402549  54851421.285204

In [69]:
print("üîÑ Converting 'Tourism' and 'Air_transport' columns to float...")
combined_df_east_africa["Tourism"] = combined_df_east_africa["Tourism"].astype(float)
combined_df_east_africa["Air_transport"] = combined_df_east_africa["Air_transport"].astype(float)

üîÑ Converting 'Tourism' and 'Air_transport' columns to float...

In [72]:
print("üìä Performing Pearson correlation test...")

correlation, p_value = stats.pearsonr(
    combined_df_east_africa["Tourism"],
    combined_df_east_africa["Air_transport"]
)

üìä Performing Pearson correlation test...

In [73]:
X = combined_df_east_africa["Air_transport"]
y = combined_df_east_africa["Tourism"]

In [74]:
print("üìà Performing linear regression...")
slope, intercept, r_value, p_value, std_err = stats.linregress(X, y)
print(f"üìê Linear Regression Equation: y = {intercept:.4f} + {slope:.4f} * x\n")

üìà Performing linear regression...
üìê Linear Regression Equation: y = 6012334.9555 + 0.7216 * x

In [75]:
def create_model(x):
    return slope * x + intercept

model_line = list(map(create_model, X))

In [76]:
mse = mean_squared_error(y, model_line)
rmse = r2_score(y, model_line)
print(f"üìè Mean Squared Error (MSE): {mse:.4f}")
print(f"üìä R-squared Score (R¬≤): {rmse:.4f}\n")

üìè Mean Squared Error (MSE): 4673954372100.4277
üìä R-squared Score (R¬≤): 0.9485

In [ ]:
print("üîÆ Predicting tourism for the year 2021...")


row_2021 = air_transport_df_east_africa.loc['2021'] if '2021' in air_transport_df_east_africa.index else None

if row_2021 is not None:
    air_transport_2021 = float(row_2021['Air_transport'])
    tourism_2021_predicted = create_model(air_transport_2021)
    print(f"üìÖ Predicted Tourism for 2021: {tourism_2021_predicted:.2f}")
else:
    print("‚ö†Ô∏è Data for 2021 not found in air transport dataset.")

üîÆ Predicting tourism for the year 2021...
üìÖ Predicted Tourism for 2021: 23371368.23

In [84]:
combined_df_east_africa.to_csv('combined_df_east_africa.csv')

In [85]:
combined_df_east_africa

            Tourism  Air_transport
Years
1995   1.158354e+07   1.215340e+07
1996   1.308865e+07   1.317840e+07
1997   1.345625e+07   1.345650e+07
1998   1.440385e+07   1.323470e+07
1999   1.530938e+07   1.403850e+07
2000   1.535318e+07   1.496361e+07
2001   1.585470e+07   1.454611e+07
2002   1.738338e+07   1.446257e+07
2003   1.784439e+07   1.580232e+07
2004   1.874595e+07   1.756261e+07
2005   1.991757e+07   2.066175e+07
2006   2.265032e+07   2.203961e+07
2007   2.511490e+07   2.329597e+07
2008   2.541310e+07   2.398855e+07
2009   2.596442e+07   2.380008e+07
2010   2.907150e+07   3.037416e+07
2011   3.165024e+07   3.350782e+07
2012   3.274855e+07   3.583868e+07
2013   3.442663e+07   3.511246e+07
2014   3.573839e+07   3.635076e+07
2015   3.531868e+07   3.915469e+07
2016   3.764589e+07   4.155343e+07
2017   3.825835e+07   4.542381e+07
2018   4.118915e+07   5.261396e+07
2019   3.982670e+07   5.485142e+07